################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DAL/obj
/UI/.vs/UI
/UI/bin/Debug/net9.0
/UI/bin/Debug/net9.0/appsettings.Development.json
/UI/obj
